///
/// Wide Angle by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* wrapper */

	.wrapper {
		@include padding(6rem, 0);

		header {
			margin: 0 auto _size(element-margin) auto;
			max-width: 80%;
			text-align: center;
		}

		@include breakpoint('<=medium') {
			@include padding(4rem, 0);
		}

		@include breakpoint('<=xsmall') {
			@include padding(3rem, 0);
		}
	}