{% extends "generic.html" %}
{% block title %}About{% endblock %}
{% block main %}

<section id="main" class="wrapper">
    <div class="inner">
        <h1>About Me</h1>
        <p>
            <span class="image left"><img src="{{url_for('static', filename='images/Me.jpeg')}}" alt="" /></span>
            Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
            tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
            felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
            praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum
            primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
            adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis
            sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
            Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
            Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida lorem ipsum dolor
            sit amet dolor feugiat consequat.

            Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
			tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
			felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
			praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum
			primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac
			adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis
			sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
			Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
			Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida lorem ipsum dolor
			sit amet dolor feugiat consequat.Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
            tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
            felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
            praesent tincidunt felis sagittis eget. tempus euismod tempus. Vestibulum ante ipsum
            primis in faucibus vestibulum.
        </p>
    </div>
</section>

<!-- Main -->
<div id="main" class="wrapper">
    <div class="inner">
        <h3>A Few Accomplishments</h3>
		<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
		<div class="features">
			<article>
				<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
				<div class="inner">
					<h4>Pharetra fusce facilisis</h4>
					<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
				</div>
			</article>
			<article>
				<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
				<div class="inner">
					<h4>Condimentum mus ipsum orci</h4>
					<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
				</div>
			</article>
			<article>
				<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
				<div class="inner">
					<h4>Cubilia enim congue at cep amet</h4>
					<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
				</div>
			</article>
		</div>
    </div>
</div>
{% endblock %}