<!DOCTYPE HTML>
<!--
	Wide Angle by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header" class="alt">
				<nav>
					<ul class="nav">
						<li><a href="/home">Home</a></li>
						<li>
							<a href="/generic">Blog</a>
							<ul>
								<li>
									<a href="/generic">AWS Cloud Resume Challenge Series</a>
									<ul>
										<li><a href="/blog/what-is-the-cloud-resume-challenge">What is the Cloud Resume Challenge?</a></li>
										<li><a href="/blog/cloud-resume-challenge-conceptual-design">Conceptual Design</a></li>
										<li><a href="/blog/cloud-resume-challenge-setting-up-website-with-html-css-javascript">Setting up website with HTML, CSS and JavaScript</a></li>
										<li><a href="/blog/cloud-resume-challenge-setting-up-s3-bucket">Setting up S3 Bucket</a></li>
										<li><a href="/blog/cloud-resume-challenge-setting-up-cloudfront">Setting up CloudFront</a></li>
										<li><a href="/blog/cloud-resume-challenge-setting-up-dynamodb">Setting up DynamoDB</a></li>
										<li><a href="/blog/cloud-resume-challenge-setting-up-aws-lambda-function">Setting up AWS Lambda Function</a></li>
										<li><a href="/blog/cloud-resume-challenge-setting-up-ci-cd-with-github-actions">Setting up CI/CD with Github Actions</a></li>
										<li><a href="/blog/cloud-resume-challenge-implementing-infrastructure-as-code-with-terraform">Implementing Infrastructure as Code with Terraform</a></li>
										<li><a href="/blog/cloud-resume-challenge-implementing-monitoring-with-datadog">Implementing Monitoring with Datadog</a></li>
									</ul>
								</li>
								<li>
									<a href="/generic">AWS Cloud Project Bootcamp Series</a>
									<ul>
										<li><a href="/blog/aws-cloud-project-bootcamp-week-1">Intro</a></li>
										<li><a href="/blog/aws-cloud-project-bootcamp-week-2">Week 2</a></li>
									</ul>
								</li>
								<li><a href="/blog/what-happens-when-you-type-google-in-your-browser-and-press-enter">Explain it to me like I'm 5 yrs old</a></li>
								<li><a href="/blog/deploying-zabbix-on-your-application-server-for-monitoring">Deploying Zabbix on your Application Server for Monitoring</a></li>
								<li><a href="/blog/how-to-configure-lets-encrypt-ssl-on-ubuntu-20-04">How to Configure Let's Encrypt SSL on Ubuntu 20.04</a></li>
								<li><a href="/blog/deploying-a-dynamic-website-on-aws-using-a-3-tier-architecture">Deploying a Dynamic Website on AWS using a 3-Tier Architecture</a></li>
								<li><a href="/blog/effortlessly-sync-your-files-with-rsync">Effortlessly Sync Your Files</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<div id="logo">
					<a href="/home">
						Mark<br />
						<strong>Kibara</strong>
					</a>
				</div>
				<nav>
					<ul class="nav">
						<li><a href="/about">About</a></li>
						<li><a href="/elements">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<div id="banner">
				<article data-position="middle right">
					<div class="inner">
						<img src="{{url_for('static', filename='images/Red Silky.jpg')}}" alt="" />
						<h1>DevOps Engineer</h1>
						<p>Adipiscing nulla justo sed tempus platea</p>
					</div>
				</article>
				<article data-position="top right">
					<div class="inner">
						<img src="{{url_for('static', filename='images/Sunset0.jpg')}}" alt="" />
						<h1>Cloud Engineer</h1>
						<p>Adipiscing nulla justo sed tempus platea</p>
					</div>
				</article>
				<article data-position="top right">
					<div class="inner">
						<img src="{{url_for('static', filename='images/Sunset3.jpg')}}" alt="" />
						<h1>Cloud Architect</h1>
						<p>Adipiscing nulla justo sed tempus platea</p>	
					</div>
				</article>
				<article data-position="top right">
					<div class="inner">
						<img src="{{url_for('static', filename='images/Midnight Orange.jpg')}}" alt="" />
						<h1>Cloud Developer</h1>
						<p>Adipiscing nulla justo sed tempus platea</p>
					</div>
				</article>
			</div>

			<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>About Me</h2>
						<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer lorem ipsum dolor sit amet.</p>
					</header>
					<ul class="alt">
						<li>Dolor pulvinar amet etiam.</li>
						<li>Sagittis adipiscing lorem eleifend.</li>
						<li>Felis enim feugiat viverra.</li>
						<li>Dolor pulvinar amet etiam.</li>
						<li>Sagittis adipiscing lorem eleifend.</li>
						<li>Felis enim feugiat viverra.</li>
					</ul>
					<ul class="actions special">
						<li><a href="/about" class="button large primary">Learn More</a></li>
					</ul>
				</div>
			</section>
			
			<!-- Two -->
			<section id="two" class="wrapper">
				<div class="inner">
					<header>
						<h2>Projects</h2>
						<p>Aenean vel justo nulla, at gravida elit. In hac habitasse platea dictumst. Quisque gravida commodo volutpat. Vivamus blandit risus in urna venenatis accumsan. Pellentesque habitant morbi consequat nullam.</p>
					</header>
					<div class="features-grid">
						<div>
							<span class="number">01</span>
							<h3>Lorem Ipsum</h3>
							<p>Aenean vel justo nulla, at gravida hac habitasse platea amet quisque gravida et lorem volutpat. Vivamus blandit risus venenatis accumsan. Pellentesque magna morbi.</p>
						</div>
						<div>
							<span class="number">02</span>
							<h3>Sit Vivamus</h3>
							<p>Aenean vel justo nulla, at gravida hac habitasse platea amet quisque gravida et lorem volutpat. Vivamus blandit risus venenatis accumsan. Pellentesque magna morbi.</p>
						</div>
						<div>
							<span class="number">03</span>
							<h3>Elit Tempus</h3>
							<p>Aenean vel justo nulla, at gravida hac habitasse platea amet quisque gravida et lorem volutpat. Vivamus blandit risus venenatis accumsan. Pellentesque magna morbi.</p>
						</div>
						<div>
							<span class="number">04</span>
							<h3>Cravida Nulla</h3>
							<p>Aenean vel justo nulla, at gravida hac habitasse platea amet quisque gravida et lorem volutpat. Vivamus blandit risus venenatis accumsan. Pellentesque magna morbi.</p>
						</div>
						<div>
							<span class="number">05</span>
							<h3>Platea Risus</h3>
							<p>Aenean vel justo nulla, at gravida hac habitasse platea amet quisque gravida et lorem volutpat. Vivamus blandit risus venenatis accumsan. Pellentesque magna morbi.</p>
						</div>
						<div>
							<span class="number">06</span>
							<h3>Vel Accumsan</h3>
							<p>Aenean vel justo nulla, at gravida hac habitasse platea amet quisque gravida et lorem volutpat. Vivamus blandit risus venenatis accumsan. Pellentesque magna morbi.</p>
						</div>
					</div>
					<ul class="actions special">
						<li><a href="#" class="button large primary">Learn More</a></li>
						<li><a href="/cv/download" class="button large icon solid fa-book">Download CV</a></li>
					</ul>
				</div>
			</section>
			
			<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<h3>A Few Accomplishments</h3>
					<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer non. Adipiscing cubilia elementum integer. Integer eu ante ornare amet commetus.</p>
					<div class="features">
						<article>
							<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
							<div class="inner">
								<h4>Pharetra fusce facilisis</h4>
								<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
							</div>
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
							<div class="inner">
								<h4>Condimentum mus ipsum orci</h4>
								<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
							</div>
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
							<div class="inner">
								<h4>Cubilia enim congue at cep amet</h4>
								<p>Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
							</div>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
						<h2>Get in Touch</h2>
						<p>Platea dictumst. Quisque gravida commodo volutpat. Vivamus blandit risus in urna venenatis accumsan. Pellentesque habitant morbi consequat nullam. Aenean vel justo nulla, at gravida elit. In hac habitasse</p>
					</header>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-500px"><span class="label">500px</span></a></li>
						<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<div class="copyright">
						&copy; 2024 Mark Kibara. All rights reserved.
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/jquery.dropotron.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>